.grid {
	margin: 100px auto;	
	background: #ddd;
	border: 1px solid #555;
	width: 500px;
	height: 500px;
	line-height: 0;
}

.cell {	
	display: inline-block;
	border: 1px solid #555;
	
	&:hover {
		cursor: pointer;
	}
}

.alive {
	@extend .cell;
	background: red;
}

.dead {
	@extend .cell;	
}