html {
	height: 100%;
}

body {
	background: url(/app/styles/images/science2.png);
	height: 100%;	
}

#app {
	height: 100%;
}

.container {	
	height: 100%;
}

.game-title {
	position: absolute;
  font-family: 'Comfortaa', cursive;
	font-size: 100px;
	color: #fff;
	text-align: right;
	width: 500px;
	top: 50px;
	right: 40px;

	p {
		margin: 0px;
	}
}

.grid {
	background: rgba(0,0,0,0.55);	
	margin: 75px auto;	
	margin-top: 25px;
	border: 1px solid #555;
	width: 700px;
	height: 700px;
	line-height: 0;
}

.cell {	
	display: inline-block;
	border: 1px solid #777;
	
	&:hover {
		cursor: pointer;
	}
}

.alive {
	@extend .cell;
	background: #B3EB5D;
}

.dead {
	@extend .cell;	
}